{% extends 'templates/base.html' %}

{% block content %}
<div class=" row toast center-align blue lighten-4  blue-text text-darken-1">
                <h2>Welcome to Voicenote</h2>
            </div>
            <div class="row toast blue darken-1">
              <p>Voicenote is a platform where students request for tailor-made videos on concepts they need more understanding.
              Voicenote is also a platform created for Professional tutors; 
                    where the tutors from a particular institution create their own portal, 
                    upload videos then invite learners of that institution via a specific link to access the videos; 
                    and if a student from another institution wants to access the videos from that tutor, 
                    they will have to before being given access.</p>
            </div>
            <!--<div id="reasons-to-join"class=" table-of-contents blue darken-1 center-align white-text zmain2">
                <div class=" label-icon caption card-title">
                    <h3>Why Voicenote :</h3>
                </div>
                <div id="reason-content" class=" row">
                    <p>Reasons for students and tutors to use Voicenote; 

                        Diversified learning by students as they will be engaging with different videos from different tutors all over Kenya. 
                        
                        Opportunity for the tutors to expose their apt teaching methods to the students and gain recognition for their work. 
                        
                        Opportunity for highly qualified tutors to gain income when students from other institutions want to access their videos.</p>
                </div>
            </div>-->
{% endblock %}